/*******************************
* _ASIDE NAV
* .SCSS
********************************/

.side-nav {
  position: fixed;
  z-index: 9999;
  min-width: 120px;
  max-width: 200px;
  background: #9C9A99;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  border-right: 2px dashed black;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 2px 0 10px 2px rgba(0,0,0,0.3);
  span {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    &:hover {
      text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    }
  }
  .rope {
    //logo
    box-sizing: border-box;
    height: 120px;
    width: 40px;
    margin-top:  10px;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: 1s ease all;
    animation: bobble ease-in-out 3s infinite;
  }
  h4 {
    display: inline-block;
    box-shadow: 0 -8px 4px -15px rgba(0,0,0,0.2);
    animation: bobbleShadow ease-in-out 3s infinite;
    text-align: center;
  }
  ul {
    color: white;
    font-size: 1.3em;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
  }
}

@keyframes bobble {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}

@keyframes bobbleShadow {
  0% {
    box-shadow: 0 -18px 8px -6px rgba(0,0,0,0.2);
  }
  50% {
    box-shadow: 0 -18px 8px -9px rgba(0,0,0,0.2);
  }
  100%{
    box-shadow: 0 -18px 8px -6px rgba(0,0,0,0.2);
  }
}
