//DOG IN STYLING************************
//inspired by
//https://dribbble.com/shots/1074140-Pin-dog
div {
    width: 400px;
    height: 300px;
    background: #eee;
    margin: 0 auto;
}
@mixin pseudo() {
    display: block;
    content: "";
}
@keyframes pant {
    0% {
        top: 175px;
    }
    50% {
        top: 180px;
    }
    100% {
        top: 175px;
    }
}
.pindog {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    top: 108px;
    left: 30px;
    background: #222;
    :before {
        @include pseudo();
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: -60px;
        background: #eee;
        z-index: 2;
    }
    :after {
        @include pseudo();
        border-radius: 50% 50% 50% 10%;
        transform: rotate(-45deg);
        width: 50px;
        height: 50px;
        position: absolute;
        top: -15px;
        left: -76px;
        background: #222;
        z-index: 1;
    }
    b {
        display: block;
        border-radius: 20%;
        width: 0;
        height: 0;
        border: 18px solid transparent;
        border-top: 22px solid #222;
        position: absolute;
        top: 58px;
        left: -38px;
        background: transparent;
        :before {
            @include pseudo();
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 8px solid transparent;
            border-bottom: 8px solid #222;
            border-right: 8px solid #222;
            position: absolute;
            top: -27px;
            left: -42px;
            background: transparent;
            z-index: 1;
        }
        :after {
            @include pseudo();
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 8px solid transparent;
            border-bottom: 8px solid #222;
            border-left: 8px solid #222;
            position: absolute;
            top: -27px;
            left: -5px;
            background: transparent;
            z-index: 1;
        }
    }
    //end of b
    .tounge {
        width: 30px;
        height: 30px;
        position: relative;
        top: 180px;
        background-color: red;
        border-radius: 50px/100px;
        transition: all 300ms ease;
        animation: pant 1s ease-in-out infinite;
    }
    //end of .tounge
    h1 span {
        font: 26px Monaco, MonoSpace;
        height: 200px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
    }
    .badge {
        position: fixed;
        width: 1px;
        left: 48%;
        border-radius: 50%;
        transform: rotate(-23deg);
        .char1 {
            transform: rotate(6deg);
        }
        .char2 {
            transform: rotate(12deg);
        }
        .char3 {
            transform: rotate(18deg);
        }
        .char4 {
            transform: rotate(24deg);
        }
        .char5 {
            transform: rotate(30deg);
        }
        .char6 {
            transform: rotate(36deg);
        }
        .char7 {
            transform: rotate(42deg);
        }
    }
    //end of badge
    .logContain {
        width: auto;
        height: auto;
        position: absolute;
        left: 43%;
    }
}
//End of pindog
//END DOG IN STYING***********************************
