/*******************************
* BASE STYLES & IMPORTS
* .SCSS
********************************/

body {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #766862;
}

.main-container {
  width: 90%;
  padding-top: 10px;
  margin-left: 145px;
}

footer {
  width: 100%;
  left: 50px;
  z-index: 2;
  bottom: 0px;
  position: fixed;
  background: rgba(0,0,0,0.1);
  h6 {
    text-align: center;
  }
}

@import "dawgIn";
@import "aside-nav";
@import "feed";
@import "add-dog-form";
@import "details";
