body {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #766862;
}

.main-container {
  padding-top: 10px;
}

footer {
  width: 100%;
  bottom: 0px;
  position: fixed;
  h6 {
    text-align: center;
  }
}

@import "pindog";
@import "aside-nav";
@import "feed";
