<article class='main'>

    <article class="badge">
        <h1>
  <span class = 'char1'>U</span>
  <span class = 'char2'>P</span>
  <span class = 'char3'>D</span>
  <span class = 'char4'>A</span>
  <span class = 'char5'>W</span>
  <span class = 'char6'>W</span>
  <span class = 'char7'>G</span>
</h1>
    </article>
    <i class="pindog"><b></b></i>
    <article class='tounge'></article>
    <article class="logContain">
        <input type="text" ng-model='username' placeholder='name' />
        <input type="text" ng-model='password' placeholder='password'>
        <button ng-click='logIn()'>Dawg IN</button>
    </article>
    <span class = 'regRoute'>Don't have an account? Create <a href="#/registration">HERE!</a></span>
</article>
