<!-- ng-controller="FeedController" -->

<section >
    <span>amazing dog</span>
    <video id="videoGfy0" autoplay="autoplay" muted="" loop="" ng-attr-poster="//thumbs.gfycat.com/{{ feeds.videoPageGfyFrame.gfyName }}-poster.jpg" poster="//thumbs.gfycat.com/MemorableYellowishDungbeetle-poster.jpg">
                    <source data-ng-src="https://zippy.gfycat.com/MemorableYellowishDungbeetle.webm" type="video/webm" src="https://zippy.gfycat.com/MemorableYellowishDungbeetle.webm">
                    <source data-ng-src="https://fat.gfycat.com/MemorableYellowishDungbeetle.mp4" type="video/mp4" src="https://fat.gfycat.com/MemorableYellowishDungbeetle.mp4">
                </video>

    <div class="dog" ng-click="deets()" ng-repeat="dog in dawgz">
        <img src="" alt="" />
    </div>


</section>
