/*******************************
* BASE STYLES & IMPORTS
* .SCSS
********************************/
body {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #766862; }

.main-container {
  width: 90%;
  padding-top: 10px;
  margin-left: 145px; }

footer {
  width: 100%;
  left: 50px;
  z-index: 2;
  bottom: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.1); }
  footer h6 {
    text-align: center; }

article {
  width: 400px;
  height: 300px;
  background: #eee;
  margin: 0 auto; }

@keyframes pant {
  0% {
    top: 172px; }
  50% {
    top: 176px; }
  100% {
    top: 172px; } }

.pindog {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  top: 108px;
  left: 30px;
  background: #222; }

.pindog:before {
  display: block;
  content: "";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -60px;
  background: #eee;
  z-index: 2; }

.pindog:after {
  display: block;
  content: "";
  border-radius: 50% 50% 50% 10%;
  transform: rotate(-45deg);
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: -76px;
  background: #222;
  z-index: 1; }

.pindog b {
  display: block;
  border-radius: 20%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top: 22px solid #222;
  position: absolute;
  top: 58px;
  left: -38px;
  background: transparent; }

.pindog b:before {
  display: block;
  content: "";
  border-radius: 50%;
  width: 36px;
  height: 29px;
  border: 8px solid transparent;
  border-bottom: 8px solid #222;
  border-right: 8px solid #222;
  position: absolute;
  top: -17px;
  left: -31px;
  background: transparent;
  z-index: 1; }

.pindog b:after {
  display: block;
  content: "";
  border-radius: 50%;
  width: 36px;
  height: 29px;
  border: 8px solid transparent;
  border-bottom: 8px solid #222;
  border-left: 8px solid #222;
  position: absolute;
  top: -17px;
  left: -4px;
  background: transparent;
  z-index: 1; }

.tounge {
  width: 30px;
  height: 30px;
  position: relative;
  top: 175px;
  background-color: red;
  border-radius: 50px/100px;
  z-index: 0;
  transition: all 300ms ease;
  animation: pant 1s ease-in-out infinite; }

h1 span {
  font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center; }

.badge {
  position: fixed;
  width: 1px;
  left: 53%;
  color: black;
  border-radius: 50%;
  transform: rotate(-23deg);
  background-color: transparent !important; }

.char1 {
  transform: rotate(6deg); }

.char2 {
  transform: rotate(12deg); }

.char3 {
  transform: rotate(18deg); }

.char4 {
  transform: rotate(24deg); }

.char5 {
  transform: rotate(30deg); }

.char6 {
  transform: rotate(36deg); }

.char7 {
  transform: rotate(42deg); }

.logContain {
  width: auto;
  height: auto;
  position: absolute;
  left: 41%; }

.regRoute {
  position: absolute;
  left: 46%;
  top: 66%;
  height: auto;
  width: auto; }

/*******************************
* _ASIDE NAV
* .SCSS
********************************/
.side-nav {
  position: fixed;
  z-index: 9999;
  min-width: 120px;
  max-width: 200px;
  background: #9C9A99;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  border-right: 2px dashed black;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 2px 0 10px 2px rgba(0, 0, 0, 0.3); }
  .side-nav span {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px; }
    .side-nav span:hover {
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
  .side-nav .rope {
    box-sizing: border-box;
    height: 120px;
    width: 40px;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: 1s ease all;
    animation: bobble ease-in-out 3s infinite; }
  .side-nav h4 {
    display: inline-block;
    box-shadow: 0 -8px 4px -15px rgba(0, 0, 0, 0.2);
    animation: bobbleShadow ease-in-out 3s infinite;
    text-align: center; }
  .side-nav ul {
    color: white;
    font-size: 1.3em;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 10px; }

@keyframes bobble {
  0% {
    transform: translateY(5px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

@keyframes bobbleShadow {
  0% {
    box-shadow: 0 -18px 8px -6px rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: 0 -18px 8px -9px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 -18px 8px -6px rgba(0, 0, 0, 0.2); } }

/*******************************
* _FEED
* .SCSS
********************************/
video {
  width: 100px;
  height: 100px;
  background: black;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  box-sizing: border-box;
  border: 5px solid black;
  cursor: pointer; }

.twoSize {
  width: 200px;
  height: 200px; }

.threeSize {
  width: 203px;
  height: 95px;
  position: absolute;
  top: 115px; }

/*******************************
* _ADD DOG FORM
* .SCSS
********************************/
.add-dog {
  display: flex;
  flex-direction: column;
  align-content: flex-start; }
  .add-dog span.input-group-addon {
    width: 20%; }
  .add-dog div {
    min-width: 500px;
    height: auto;
    background: transparent;
    max-width: 500px; }
  .add-dog .desc {
    min-height: 100px; }

/*******************************
* _DETAILS
* .SCSS
********************************/
#gyf-deets {
  width: 97%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #gyf-deets h1 {
    color: white;
    font-size: 3em; }
  #gyf-deets video {
    height: inherit;
    width: inherit;
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px; }
