body {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #766862; }

.main-container {
  padding-top: 10px; }

footer {
  width: 100%;
  bottom: 0px;
  position: fixed; }
  footer h6 {
    text-align: center; }

div {
  width: 400px;
  height: 300px;
  background: #eee;
  margin: 0 auto; }

@keyframes pant {
  0% {
    top: 175px; }
  50% {
    top: 180px; }
  100% {
    top: 175px; } }

.pindog {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  top: 108px;
  left: 30px;
  background: #222; }
  .pindog :before {
    display: block;
    content: "";
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -60px;
    background: #eee;
    z-index: 2; }
  .pindog :after {
    display: block;
    content: "";
    border-radius: 50% 50% 50% 10%;
    transform: rotate(-45deg);
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: -76px;
    background: #222;
    z-index: 1; }
  .pindog b {
    display: block;
    border-radius: 20%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top: 22px solid #222;
    position: absolute;
    top: 58px;
    left: -38px;
    background: transparent; }
    .pindog b :before {
      display: block;
      content: "";
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 8px solid transparent;
      border-bottom: 8px solid #222;
      border-right: 8px solid #222;
      position: absolute;
      top: -27px;
      left: -42px;
      background: transparent;
      z-index: 1; }
    .pindog b :after {
      display: block;
      content: "";
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 8px solid transparent;
      border-bottom: 8px solid #222;
      border-left: 8px solid #222;
      position: absolute;
      top: -27px;
      left: -5px;
      background: transparent;
      z-index: 1; }
  .pindog .tounge {
    width: 30px;
    height: 30px;
    position: relative;
    top: 180px;
    background-color: red;
    border-radius: 50px/100px;
    transition: all 300ms ease;
    animation: pant 1s ease-in-out infinite; }
  .pindog h1 span {
    font: 26px Monaco, MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center; }
  .pindog .badge {
    position: fixed;
    width: 1px;
    left: 48%;
    border-radius: 50%;
    transform: rotate(-23deg); }
    .pindog .badge .char1 {
      transform: rotate(6deg); }
    .pindog .badge .char2 {
      transform: rotate(12deg); }
    .pindog .badge .char3 {
      transform: rotate(18deg); }
    .pindog .badge .char4 {
      transform: rotate(24deg); }
    .pindog .badge .char5 {
      transform: rotate(30deg); }
    .pindog .badge .char6 {
      transform: rotate(36deg); }
    .pindog .badge .char7 {
      transform: rotate(42deg); }
  .pindog .logContain {
    width: auto;
    height: auto;
    position: absolute;
    left: 43%; }

/*******************************
* _ASIDE NAV
* .SCSS
********************************/
.side-nav {
  min-width: 120px;
  max-width: 200px;
  background: #9C9A99;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  border-right: 2px dashed black;
  padding: 10px;
  margin-right: 10px; }
  .side-nav span {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px; }
    .side-nav span:hover {
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
  .side-nav .rope {
    height: 120px;
    width: 40px;
    margin-top: 10px;
    margin-left: 30px; }
  .side-nav h4 {
    display: inline-block; }
  .side-nav ul {
    font-size: 1.3em;
    overflow: hidden;
    list-style: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px; }

/*******************************
* _FEED
* .SCSS
********************************/
video {
  width: 100px;
  height: 100px;
  background: black;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  vertical-align: top; }

.twoSize {
  width: 200px;
  height: 200px; }

.threeSize {
  width: 203px;
  height: 95px;
  position: absolute;
  top: 115px; }
