<!-- detail view -->

<section id="gyf-deets">
  <h1>{{dog.name}}</h1>
  <video autoplay="autoplay" muted="" loop="" ng-attr-poster="{{url(dog.image)}}">
    <source type="video/webm" ng-src="{{url(dog.image)}}">
  </video>

  <button ng-click="upDawg()" type="button" name="ups">Ups</button>

  <div class="input-group input-group-lg">
    <textarea name='comment' class="form-control comment" placeholder="Leave a Comment" aria-describedby="sizing-addon1"></textarea>
    <input type="button" name="submit" value="Submit">
  </div>

  <button ng-click="back()" type="button" name="back"> back </button>

</section>
