

<div class = 'main'>

  <div class="badge">
  <h1>
  <span class = 'char1'>U</span>
  <span class = 'char2'>P</span>
  <span class = 'char3'>D</span>
  <span class = 'char4'>A</span>
  <span class = 'char5'>W</span>
  <span class = 'char6'>W</span>
  <span class = 'char7'>G</span>
</h1>
    </div>
  <i class="pindog"><b></b></i>
  <div class = 'tounge'></div>
  <div class="logContain">
  <input type="text" ng-model ='username' placeholder= 'name' />
  <input type="text" ng-model ='password'  placeholder='password'>
  <button ng-click = 'logIn()'>Dawg IN</button>
    </div>
</div>
